.DS_Store
node_modules
/dist
*.local
*.log
.env
.env.local
.env.*.local

# pnpm
.pnpm-cache/
.pnpm-store/

# TypeScript 增量编译缓存
*.tsbuildinfo

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
